<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PFormat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <PFormat.Properties.Settings>
            <setting name="CopiedSuffix" serializeAs="String">
                <value>コピー</value>
            </setting>
            <setting name="DefaultFormatName" serializeAs="String">
                <value>フォーマット</value>
            </setting>
            <setting name="DefaultGroupName" serializeAs="String">
                <value>グループ</value>
            </setting>
            <setting name="SaveFileName" serializeAs="String">
                <value />
            </setting>
        </PFormat.Properties.Settings>
    </userSettings>
</configuration>